/* Initialize */

body {
  text-align: center;
}
.body-font {
  font-family: 'Courgette', cursive;
}

/* Section 1 */
.container-fluid-intro {
  background-image: url(file:///home/benie/Downloads/pizza-g78c1b1943_1920.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 50%;
  margin-bottom: 0;
}

/* Navbar division */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
  font-family: 'Courgette', cursive;
}
#nav-buttons {
  padding-top: 5px;
}
.nav-text {
  font-size: 13px;
}
.nav-p {
  padding-top: 1;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.65;
}
