/* Initialize */

body {
  text-align: center;
}
.body-font {
  font-family: 'Courgette', cursive;
}

/* Section 1 */
.container-fluid-intro {
  background-image: url(file:///home/benie/Downloads/pizza-g78c1b1943_1920.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 50%;
  margin-bottom: 0;
}

/* Navbar division */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
  font-family: 'Courgette', cursive;
}
#nav-buttons {
  padding-top: 5px;
}
.nav-text {
  font-size: 13px;
}
.nav-p {
  padding-top: 1;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.65;
}
/* end of Navbar division */

/* Welcome division */
.welcome {
  padding-top: 2%;
}
.welcome h3 {
  font-family: 'Courgette', cursive;
}
/* end of Welcome division */

/* Section 2 */
.section-2 {
  background-image: url(file:///home/benie/Downloads/anime-6588363_1280.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 2.5%;
}
/* About division */
#about {
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 7%;
  margin-right: 7%;
}
/* end of About division */

/* Pizza Orders division */
.pizza-orders-division {
  padding-bottom: 10%;
}
.pizza-orders-row {
  margin-left: 3.5%;
  margin-right: 3.5%;
}
/* end of Pizza Orders division */

/* Print Orders division */
.print-orders {
  color: white;
  background-color: white;
  opacity: 0.75;
  padding-left: 0.5%;
  margin-left: 8%;
  margin-right: 8%;
}
.checkout-info {
  color: black;
}
/* end of Print Orders division */

/* Contact division */
.container-contact {
  background-image: url(file:///home/benie/Downloads/pizza-4952509_1920.jpg);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-weight: bold;
}
.contact-title {
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}
.contact-row p {
  text-align: left;
}
/* end of Contact division */

/* Section 3 */
/* Footer */
footer {
  padding-top: 30px;
  text-align: center;
}
footer p {
  font-family: 'Roboto', sans-serif;;
  margin-top: 0px;
  border-top-width: 0px;
  margin-bottom: 0px;
}
/* end of Section 3 */

/* Bootstrap's Carousel */
.carousel-control {
  color: white;
  width: 15%;
  opacity: .5;
  hover-opacity: .9;
  transition: opacity .15s ease;
}
.carousel-indicator {
  width: 30px;
  height: 3px;
  hit-area-height: 10px;
  spacer: 3px;
  opacity: .5;
  active-bg: white;
  active-opacity: 1;
  transition: opacity .6s ease;
}
.carousel-caption {
  width: 70%;
  color: white;
  padding-y: 1.25rem;
  spacer: 1.25rem;
}
.carousel-control-icon {
  width: 2rem;
}
.carousel-control-prev-icon {
  bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}
.carousel-control-next-icon {
  bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}
.carousel {
  transition-duration: .6s;
  transition: transform
  transition-duration: ease-in-out;
  dark-indicator-active-bg: black;
  dark-caption-color: black;
  dark-control-icon-filter: invert(1) grayscale(100);
}
