/* Initialize */

body {
  text-align: center;
}
.body-font {
  font-family: 'Courgette', cursive;
}

/* Section 1 */
.container-fluid-intro {
  background-image: url(file:///home/benie/Downloads/pizza-g78c1b1943_1920.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 50%;
  margin-bottom: 0;
}

/* Navbar division */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.8;
  font-family: 'Courgette', cursive;
}
#nav-buttons {
  padding-top: 5px;
}
.nav-text {
  font-size: 13px;
}
.nav-p {
  padding-top: 1;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0.65;
}
/* end of Navbar division */

/* Welcome division */
.welcome {
  padding-top: 2%;
}
.welcome h3 {
  font-family: 'Courgette', cursive;
}
/* end of Welcome division */

/* Section 2 */
.section-2 {
  background-image: url(file:///home/benie/Downloads/anime-6588363_1280.jpg);
  color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 2.5%;
}
/* About division */
#about {
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 7%;
  margin-right: 7%;
}
/* end of About division */

/* Pizza Orders division */
.pizza-orders-division {
  padding-bottom: 10%;
}
.pizza-orders-row {
  margin-left: 3.5%;
  margin-right: 3.5%;
}
/* end of Pizza Orders division */

/* Print Orders division */
.print-orders {
  color: white;
  background-color: white;
  opacity: 0.75;
  padding-left: 0.5%;
  margin-left: 8%;
  margin-right: 8%;
}
.checkout-info {
  color: black;
}
/* end of Print Orders division */

/* Contact division */
.container-contact {
  background-image: url(file:///home/benie/Downloads/pizza-4952509_1920.jpg);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-weight: bold;
}
.contact-title {
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}
.contact-row p {
  text-align: left;
}
/* end of Contact division */
